name: Build ZMK firmware

on:
  push:
    paths:
      - 'config/**'
  pull_request:
    paths:
      - 'config/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache west modules
        uses: actions/cache@v4
        env:
          cache-name: cache-zephyr-modules
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
            zmk/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('config/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: West Init
        uses: 'zmkfirmware/zmk-build-docker/.github/actions/west-init@main'
        with:
          config: ./config

      - name: West Update
        run: west update

      - name: West Zephyr Export
        run: west zephyr-export

      - name: West Build (corne_left)
        run: west build -s zmk/app -b nice_nano_v2 -- -DSHIELD=corne_left -DZMK_CONFIG="${GITHUB_WORKSPACE}/config"

      - name: Corne Left Firmware
        uses: actions/upload-artifact@v4
        with:
          name: corne_left-nice_nano_v2-zmk
          path: build/zephyr/zmk.uf2

      - name: West Build (corne_right)
        run: |
          rm -rf build
          west build -s zmk/app -b nice_nano_v2 -- -DSHIELD=corne_right -DZMK_CONFIG="${GITHUB_WORKSPACE}/config"

      - name: Corne Right Firmware
        uses: actions/upload-artifact@v4
        with:
          name: corne_right-nice_nano_v2-zmk
          path: build/zephyr/zmk.uf2

      - name: Archive firmware files
        uses: actions/upload-artifact@v4
        with:
          name: all-firmware
          path: |
            build/zephyr/zmk.uf2
